/.bundle
/vendor/bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
__pycache__/
/public/vite*
/public/notation
/coverage
/playwright-report
/test-results
/config/master.key
.env
.env.*
!.env.example
